.dot_1 {
  height: 22px; width: 22px; background-color: #000; color:white; font-size:16px;
  border-radius: 50%;        display: inline-block;  text-align:center;
}

.dot_2 {
  height: 21px; width: 21px; background-color: #000; color:white; font-size:19px;
  border-radius: 50%;        display: inline-block;  text-align:center;
}

.dot_3 {
  height: 20px; width: 20px; background-color: #000; color:white; font-size:18px;
  border-radius: 50%;        display: inline-block;  text-align:center;
}

.dot_4 {
  height: 19px; width: 19px; background-color: #000; color:white; font-size:17px;
  border-radius: 50%;        display: inline-block;  text-align:center;
}

.dot_5 {
  height: 18px; width: 18px; background-color: #000; color:white; font-size:16px;
  border-radius: 50%;        display: inline-block;  text-align:center;
}

.dot_6 {
  height: 16px; width: 16px; background-color: #bbb; color:white; font-size:14px;
  border-radius: 50%;        display: inline-block;  text-align:center;
}

.dot_7 {
  height: 14px; width: 14px; background-color: #bbb; color:white; font-size:12px;
  border-radius: 50%;        display: inline-block;  text-align:center;
}

.dot_8 {
  height: 12px; width: 12px; background-color: #bbb; color:white; font-size:10px;
  border-radius: 50%;        display: inline-block;  text-align:center;
}

.dot_9 {
  height: 10px; width: 10px; background-color: #bbb; color:white; font-size:8px;
  border-radius: 50%;        display: inline-block;  text-align:center;
}
